server:
  port: 8888

spring:
  application:
    name: config-server
  cloud.config:
    enabled: true
    server:
      git.uri: file://C:/Workspace/kotlin-projects/configs

eureka:
  client:
    serviceUrl.defaultZone: http://localhost:8080/eureka
    registry-fetch-interval-seconds: 5
    region: default


