server:
  port: 8888
spring:
  application:
    name: config-server
  cloud.config:
    enabled: true
    server:
      git:
        default-label: main
        clone-on-start: true
        uri: https://github.com/sushovan86/config-repo.git
        search-paths:
          - spring-microservice

eureka:
  client:
    serviceUrl.defaultZone: http://localhost:8080/eureka
    registry-fetch-interval-seconds: 5
    region: default


